{#
 # Custom user field
 #}
{% macro userField(user, suffix = '') %}
    <div id="authorId" class="elementselect">
        <div class="elements">
            {% set hasStatus = user.status is defined ? 'hasstatus' : ''  %}
            {% set hasThumb = user.getThumbUrl is defined ? 'hasthumb' : ''  %}

            <div class="element small {{ hasStatus }} {{ hasThumb }}" tabindex="0">
                {% if user.status is defined %}
                    <span class="status {{ user.status }}"></span>
                {% endif %}

                <div class="elementthumb">
                    <img src="{{ user.getThumbUrl }}" />
                </div>
                <div class="label">
                    <span class="title">{{ user.name }}</span>
                    {{ suffix ?? '' }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro locationField(config, input) %}
    {% include "_includes/forms/field" with config|merge({ input: input }) only %}
{% endmacro %}

{% macro locationElementSelectField(config) %}
    {{ _self.locationField(config, _self.locationElementSelect(config)) }}
{% endmacro %}

{% macro locationElementSelect(config) %}
    {% include "acjobs/_form/locationSelect" with config only %}
{% endmacro %}