{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = 'Create a new products' %}
{% set fullPageForm = true %}

{% set crumbs = [
	{ label: "Products", url: url('products') },
] %}

{% set tabs = [
	{ label: "Jobs", url: url('#') },
] %}

{% block actionButton %}
	<input type="hidden" name="action" value="products/default/save-product">
    {{ redirectInput('products') }}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
	</div>
{% endblock %}

{% block content %}
	<div id="fields">
		{{ forms.textField({
			first: true,
			label: "Title"|t,
			id: 'title',
			name: 'title',
			required: true,
			autofocus: true,
		}) }}

        {{ forms.textField({
            label: 'Price',
            id: 'price',
            name: 'price',
        }) }}

        {{ forms.textField({
            label: 'Currency',
            id: 'currency',
            name: 'currency',
        }) }}

		{# {{ forms.selectField({
            label: 'Job Level'|t,
            id: 'jobLevel',
            name: 'jobLevel',
            options: {
                "Standard" : "Standard",
                "Entry Level" : "Entry Level",
                "Internship" : "Internship"
            },
            required: true,
        }) }}

        {{ forms.lightswitchField({
            label: "Work Remotely?"|t,
            instructions: "When on, Job Location field is unavailable." | t,
            id: 'workRemotely',
            name: 'workRemotely',
        }) }}

        {{ forms.textareaField({
            label: "Job Description" | t,
            id: 'redactor',
            name: 'redactor',
            rows: 20,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Job Application URL" | t,
            instructions: "Absolute URL (includes the protocol e.g. http:// or https://).",
            id: 'application-url',
            name: 'applicationUrl',
            class: 'nicetext',
            required: true,
        }) }}

        {{ forms.textField({
            label: "Job ID" | t,
            id: 'jobId',
            name: 'jobId',
            class: 'nicetext',
        }) }} #}

	</div>
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.textField({
            label: "Slug"|t('app'),
            id: 'slug',
            name: 'slug',
            placeholder: "Enter slug"|t('app'),
        }) }}

        {{ forms.dateTimeField({
            label: "Post Date"|t('app'),
            id: 'postDate',
            name: 'postDate',
        }) }}

        {{ forms.dateTimeField({
            label: "Expiry Date"|t('app'),
            id: 'expiryDate',
            name: 'expiryDate',
        }) }}

        {{ forms.lightswitchField({
            label: "Enabled"|t('app'),
            id: 'enabled',
            name: 'enabled',
        }) }}
    </div><!-- #settings -->
{# 
    {% if entry.id %}
        <hr>
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div class="value">{{ entry.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div class="value">{{ entry.dateUpdated|datetime('short') }}</div>
            </div>
            {% if entry.revisionNotes %}
                <div class="data">
                    <h5 class="heading">{{ "Notes"|t('app') }}</h5>
                    <div class="value">{{ entry.revisionNotes }}</div>
                </div>
            {% endif %}
        </div>
    {% endif %} #}
{% endblock %}

{% do view.registerAssetBundle("craft\\redactor\\assets\\redactor\\RedactorAsset") %}
{% do view.registerAssetBundle("craft\\redactor\\assets\\field\\FieldAsset") %}

{% js %}
	$(function(){	
		new Craft.RedactorInput({
			id: "redactor",
			linkOptions: [{"optionTitle":"Link to an entry"}],
			volumes: [],
			transforms: [],
			redactorConfig: [],
			redactorLang: "en"
		});
	});
{% endjs %}
