{% extends '_layouts/elementindex' %}

{% set pluginName = 'Products' %}
{% set title = "EEWeb " ~ pluginName | t %}
{% set elementType = 'craft\\products\\elements\\Plugin' %}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ url('products/edit') }}" class="btn submit add icon">{{ "Add Products"|t }}</a>
    </div>
{% endblock %}