{% import "_includes/forms" as forms %}

{% if company.id %}<input type="hidden" name="companyId" value="{{ company.id }}">{% endif %}

{{ forms.textField({
    label: "Name" | t,
    id: 'title',
    name: 'title',
    instructions: "Only Free Business profile is created for this display. If you want to create a Premium Business Profile, please go to the ACCompanies plugin.",
    class: 'nicetext',
    value: company.title,
    errors: company.getErrors('title'),
    first: true,
    autofocus: true,
    required: true
}) }}

{{ forms.textField({
    label: "Username" | t,
    id: 'username',
    name: 'username',
    class: 'nicetext',
    value: company.username,
    errors: company.getErrors('username'),
    autofocus: true,
    required: true
}) }}

{{ forms.textField({
    label: "Email" | t,
    id: 'email',
    name: 'email',
    class: 'nicetext',
    value: company.email,
    errors: company.getErrors('email'),
    autofocus: true,
    required: true
}) }}

{% set userDisplayStatus %}
    {{ forms.lightswitch({
        id: 'displayUser',
        name: 'accountSettings[displayUser]',
        on: company.accountSettings['displayUser'] ?? 0
    }) }}
{% endset %}

{{ forms.field({
    label: 'Display User' | t,
    instructions: "Allow company user account to be displayed in frontend?",
    id: 'displayUser',
}, userDisplayStatus) }}

{% set logoField %}
    {{ forms.elementSelect({
        elements: company.assetId ? craft.accompanies.assets(company.assetId) : [] ,
        id: 'assetId',
        name: 'assetId',
        elementType: craft.elements.getElementType('Asset'),
        criteria: {"kind":[],"localeEnabled":null,"locale":"en_us"},
        sourceElementId: company.assetId,
        jsClass: 'Craft.AssetSelectInput',
        addButtonLabel: 'Select Image',
        limit: 1,
    }) }}
{% endset %}

{{ forms.field({
    label: 'Logo',
    id: 'assetId-field'
}, logoField ) }}