{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("craft\\accompanies\\assets\\AccompaniesAssets") %}

{% set title = 'Create a new company' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: "Companies", url: url('accompanies') },
] %}

{% set tabs = [
    { label: "Profile", id: "tab-profile", url: url('#profile') },
    { label: "Settings", url: url('#settings') },
    { label: "Quick Links", url: url('#quicklinks') },
] %}

{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% set crumbs = [
    { label: 'ACCompanies', url: url('accompanies') },
    { label: "Edit" | t, url: url(craft.request.url) },
] %}

{% set isVersion = false %}
{% set canPublish = true %}
{# {% set settings = company.properties['settings'] ?? '' %} #}

{# {% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
                <li><a class="formsubmit" data-redirect="eewebextras/accompanies/new">{{ "Save and add another"|t }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
 #}

{% block actionButton %}
    <input type="hidden" name="action" value="accompanies/default/save">
    {{ redirectInput('accompanies') }}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
    </div>
{% endblock %}

{% block content %}
    {# <input type="hidden" name="action" value="accompanies/save">
    <input type="hidden" name="redirect" value="eewebextras/accompanies"> #}
    <input type="hidden" name="admin" value="1">
    {% if company.id %}<input type="hidden" name="companyId" value="{{ company.id }}">{% endif %}
    {% if company.userId %}<input type="hidden" name="userId" value="{{ company.userId }}">{% endif %}
    {{ getCsrfInput() }}
    <div id="profile" class="tab-content first">
        {% include 'accompanies/_properties/profile' %}
    </div>
    <div id="settings" class="tab-content">
        {% include 'accompanies/_properties/index' %}
    </div>
    <div id="quicklinks" class="tab-content">
        {% include 'accompanies/_properties/quick-links' %}
    </div>
{% endblock %}