{% extends "_layouts/elementindex" %}
{% set title = "ACCompanies" %}
{% set elementType = 'craft\\accompanies\\elements\\Plugin' %}

{% set tabs = {
    companies: { label: "Companies"|t, url: url('#') },
    settings: { label: "Settings"|t, url: url('accompanies/settings') },
} %}
{% set selectedTab = 'companies' %}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ url('accompanies/new') }}" class="btn submit add icon">{{ "Add Company"|t }}</a>
    </div>
{% endblock %}

{# {% if sectionHandle is defined %}
    {% js %}
        window.defaultSectionHandle = '{{ sectionHandle }}';
    {% endjs %}
{% endif %} #}
