{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set title = "ACCompanies" %}

{# {% set tabs = {
    companies: { label: "Companies"|t, url: url('accompanies') },
    settings: { label: "Settings"|t, url: url('#') },
} %}
{% set selectedTab = 'settings' %}
 #}
{# {% set settings = craft.eewebextras.accompanies.settings %} #}

{% set content %}
    {{ sample }}

    {# <input type="hidden" name="action" value="eEWebExtras/savePluginSettings">
    <input type="hidden" name="redirect" value="accompanies/settings">
    <input type="hidden" name="pluginClass" value="accompanies">
    {{ getCsrfInput() }}

    {{ forms.textField({
        label: "Plugin Name"|t,
        instructions: "The plugin name as you'd like it to be displayed in the Admin CP sidebar menu."|t,
        id: 'customPluginName',
        name: 'settings[customPluginName]',
    }) }}

    <hr />

    {{ forms.textField({
        label: "Companies Site Route"|t,
        instructions: "Slug segment to the tech-community page."|t,
        id: 'siteRoutePrefix',
        name: 'settings[siteRoutePrefix]',
        placeholder: 'tech-communities',
    }) }}

    {{ forms.textField({
        label: "Site Template"|t,
        instructions: "The template to use for the tech-community pages."|t,
        id: 'siteTemplate',
        name: 'settings[siteTemplate]',
        placeholder: '/tech-communities',
    }) }} #}
{% endset %}
