{% import "_includes/forms" as forms %}

{% set careerStatus %}
    {{ forms.lightswitch({
        id: 'has_career',
        name: 'accountSettings[hasCareer]',
        on: company.accountSettings['hasCareer'] ?? 0
    }) }}
{% endset %}

{{ forms.field({
    label: 'Display job' | t,
    instructions: "Allow company to display jobs",
    id: 'has_career',
}, careerStatus) }}

{{ forms.textField({
    label: "Company" | t,
    id: 'company_link',
    name: 'settings[accounts][company_link]',
    instructions: "If applicable, add your company link on the field provided.",
    class: 'nicetext',
    value: settings['accounts']['company_link'] ?? null
}) }}

{{ forms.textField({
    label: "Twitter" | t,
    id: 'twitter',
    name: 'settings[accounts][twitter]',
    instructions: "If applicable, add your company's twitter account name on the field provided.",
    class: 'nicetext',
    value: settings['accounts']['twitter'] ?? null
}) }}

{{ forms.textField({
    label: "Google+" | t,
    id: 'google_plus',
    name: 'settings[accounts][google_plus]',
    instructions: "If applicable, add your company's google+ account name on the field provided.",
    class: 'nicetext',
    value: settings['accounts']['google_plus'] ?? null
}) }}

{{ forms.textField({
    label: "Facebook" | t,
    id: 'facebook',
    name: 'settings[accounts][facebook]',
    instructions: "If applicable, add your company's facebook account name on the field provided.",
    class: 'nicetext',
    value: settings['accounts']['facebook'] ?? null
}) }}

{{ forms.textField({
    label: "LinkedIn" | t,
    id: 'linkedin',
    name: 'settings[accounts][linkedin]',
    instructions: "If applicable, add your company's linkedIn account name on the field provided.",
    class: 'nicetext',
    value: settings['accounts']['linkedin'] ?? null
}) }}