{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Number of Job Entries on the Dashboard" | t,
    id: 'entries_career',
    name: 'settings[entries][career]',
    instructions: 'Limit how many job entries can show up on the dashboard.' | t,
    class: 'nicetext',
    value: settings['entries']['career'] ?? 7
}) }}

{{ forms.textField({
    label: "Number of News on the Dashboard" | t,
    id: 'entries_news',
    name: 'settings[entries][news]',
    instructions: 'Limit how many news entries can show up on the dashboard.' | t,
    class: 'nicetext',
    value: settings['entries']['news'] ?? 5
}) }}

{{ forms.textField({
    label: "Number of Articles on the Dashboard" | t,
    id: 'entries_blog',
    name: 'settings[entries][articles]',
    instructions: 'Limit how many articles entries can show up on the dashboard.' | t,
    class: 'nicetext',
    value: settings['entries']['articles'] ?? 6
}) }}

