{% import "_includes/forms" as forms %}

<div class="fields">
    {{ forms.textField({
        label: "Name" | t,
        id: 'title',
        name: 'title',
        class: 'nicetext',
        value: company.title,
        first: true,
        autofocus: true,
        required: true
    }) }}

    {{ forms.textField({
        label: "Username" | t,
        id: 'username',
        name: 'username',
        class: 'nicetext',
        value: company.username,
        errors:  company.getErrors('username'),
        required: true
    }) }}

    {{ forms.textField({
        label: "Email" | t,
        id: 'email',
        name: 'email',
        value: company.email,
        errors: company.getErrors('email'),
        required: true
    }) }}

    {% set statusInput %}
        {{ forms.lightswitch({
            id: 'businessType',
            name: 'accountSettings[businessType]',
            on: company.accountSettings['businessType'] ?? 0
        }) }}
    {% endset %}

    {{ forms.field({
        label: 'Business Type' | t,
        instructions: "Set business type to premium?",
        id: 'businessType',
    }, statusInput) }}

    {% set userDisplayStatus %}
        {{ forms.lightswitch({
            id: 'display_user',
            name: 'accountSettings[displayUser]',
            on: company.accountSettings['displayUser'] ?? 1
        }) }}
    {% endset %}

    {{ forms.field({
        label: 'Display User' | t,
        instructions: "Allow company user account to be displayed in frontend?",
        id: 'display_user',
    }, userDisplayStatus) }}

    {% set logoField %}
        {{ forms.elementSelectField({
            elements: elements,
            id: 'assetId',
            name: 'assetId',
            elementType: 'craft\\elements\\Asset',
            sourceElementId: assetId,
            selectionLabel: 'Select Image for logo',
            limit: 1,
        }) }}
    {% endset %}

    {{ forms.field({
        label: 'Logo',
        id: 'assetId-field'
    }, logoField ) }}

    {% set bannerField %}
        {{ forms.elementSelect({
            elements: bannerElements,
            id: 'bannerId',
            name: 'bannerId',
            elementType: 'craft\\elements\\Asset',
            sourceElementId: bannerId,
            selectionLabel: 'Select Image for banner',
            limit: 1,
        }) }}
    {% endset %}

    {{ forms.field({
        label: 'Banner',
        id: 'bannerId-field'
    }, bannerField ) }}

    {{ forms.textareaField({
        label: "Description" | t,
        instructions: "Example: Focused on high-speed ADC test solutions for Acme Corporation." | t,
        id: 'redactor',
        name: 'description',
        class: 'myFieldsRedactorClass',
        rows: 18,
        value: company.description
    }) }}

   {#  {% set topicsField %}
        {% set topicsInputAttr = {
        id: 'topics',
        name: 'topics',
        elementType: 'craft\\elements\\Tag',
        elements: company.tags,
        tagGroupId: tagGroupId,
        sourceElementId: company.id ?? null,
        selectionLabel: 'Add a topic',
        } %}
        {% include '_components/fieldtypes/Tags/input' with topicsInputAttr only %}
    {% endset %} #}
    {# {{ forms.field({
        label: "Popular Topics" | t,
    }, topicsField) }} #}

    {#
     # Custom hooks
     #}
    {# {% hook 'cp.accompanies.edit' %} #}
</div>

{% do view.registerAssetBundle("craft\\redactor\\assets\\redactor\\RedactorAsset") %}
{% do view.registerAssetBundle("craft\\redactor\\assets\\field\\FieldAsset") %}

{% js %}
    $(function(){   
        new Craft.RedactorInput({
            id: "redactor",
            linkOptions: [{"optionTitle":"Link to an entry"}],
            volumes: [],
            transforms: [],
            redactorConfig: [],
            redactorLang: "en"
        });
    });
{% endjs %}