{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Title" | t,
    id: 'quick_links_title',
    name: 'settings[quick_links][title]',
    class: 'nicetext',
    value: settings['quick_links']['title'] ?? null
}) }}
<div class="matrix matrix-field" id="ql-links">
    <div class="blocks qlinks-container">
        {% if qLinks is defined %}
            {% for link in qLinks %}
                <div class="matrixblock tag-container" data-id="{{ company.id }}{{ loop.index }}">
                    <div class="titlebar dc-titlebar">
                        <div class="blocktype"><span class="tag icon"></span> <span class="light-gray">{{ loop.index }}</span></div>
                        <div class="preview"></div>
                    </div>
                    <div class="actions">
                        <div class="status off" title="{{ "Disabled"|t }}"></div>
                        <a class="settings icon menubtn" title="{{ "Actions"|t }}" role="combobox" tabindex="{{ link.qLink_num }}"></a>

                        <div class="menu">
                            <ul class="padded">
                                <li><a data-icon="collapse" data-action="collapse">{{ "Collapse"|t }}</a></li>
                                <li class="hidden"><a data-icon="expand" data-action="expand">{{ "Expand"|t }}</a></li>
                                <li><a data-icon="wand" data-action="clone" data-qlinks-num="{{ link.qLink_num }}">{{ "Clone Quick Link"|t }}</a></li>
                                <li><a data-icon="+" data-action="add" data-type="qlinks">{{ "Add Quick Link above"|t }}</a></li>
                                <li><hr class="padded"/></li>
                                <li><a data-icon="remove" data-action="delete">{{ "Delete"|t }}</a></li>
                            </ul>
                        </div>

                        <a class="move icon" title="{{ "Reorder"|t }}" role="button"></a></div>

                    <div class="slots-container fields" id="slots-container-t{{ link.qLink_num }}">
                        {{ forms.textField(link.qLink_name) }}

                        {% for slots in link.slots %}
                            <div class="slot-wrapper" id="slot-wrapper-{{ slots.ql_link }}">
                                {{ forms.editableTable(slots) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="buttons secondary-buttons last">
        <div class="btngroup">
            <div class="btn submit add icon" data-type="qlinks">{{ "Add Quick Link"|t }}</div>
        </div>
    </div>
</div>
{# 
{% includejs %}
new Craft.CompanyQuickLinks('ql-links', 'qlinks');
Craft.CompanyQuickLinks.$emptySlot = $.parseJSON('{{ empty_slot|json_encode|raw }}')
Craft.CompanyQuickLinks.debug = true;
{% endincludejs %} #}