{% import '_includes/forms' as forms %}

{% set companyElementType = craft.elements.getElementType('ACCompanies') %}
{% set parentCriteria = 'company' %}

{{ forms.elementSelectField({
    id: 'company',
    name: 'company',
    criteria: parentCriteria,
    elementType: companyElementType,
    selectionLabel: "Choose" | t,
    limit: 1
}) }}