{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% import "acjobs/_form/macros" as jobForms %}

{#{% set showPreviewBtn = true %}#}

{% set jobs = craft.eewebextras.acjobs %}

{% set settings = jobs.settings %}

{% set fullPageForm = true %}

{# Redactor support for textarea #}
{% includeCssResource "lib/redactor/redactor.css" %}
{% includeJsResource "lib/redactor/redactor.js" %}
{% includeJsResource "lib/redactor/plugins/source.js" %}
{% includeJsResource "lib/redactor/plugins/table.js" %}
{% includeJsResource "js/RichTextInput.js" %}
{% includeJsResource "eewebextras/acjobs/js/ACJobs.js" %}

{# For Location HUD #}
{% set APIKey = craft.eewebextras.aclocations.settings.apiKey %}
{% includeJsFile "https://maps.googleapis.com/maps/api/js?key=" ~ APIKey ~ "&libraries=places" %}

{% includeCssResource "eewebextras/aclocations/css/ACLocations.css" %}
{% includeJsResource "eewebextras/aclocations/js/ACLocationsCraftExtensions.js" %}

{% includeCssResource "eewebextras/acjobs/css/ACJobs.css" %}

{% set companyElementType = craft.elements.getElementType('ACCompanies') %}
{% set locationElementType = craft.elements.getElementType('ACLocations') %}
{% set userElementType = craft.elements.getElementType('User') %}
{% set tagElementType = craft.elements.getElementType('Tag') %}
{% set siliconExpertElementType = craft.elements.getElementType('ACJobs_SiliconExpert') %}
{% set designZonesElementType = craft.elements.getElementType('ACJobs_DesignZones') %}

{% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t }}
                    </a></li>
                <li><a class="formsubmit" data-redirect="eewebextras/acjobs/new">{{ "Save and add another"|t }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% set crumbs = [
{ label: jobs.getPluginName, url: url('eewebextras/acjobs') },
{ label: "Edit" | t, url: url(craft.request.url) },
] %}


{% block main %}

<input type="hidden" name="action" value="ACJobs/save">
<input type="hidden" name="redirect" value="eewebextras/acjobs">
{% if job.id %}<input type="hidden" name="jid" value="{{ job.id }}">{% endif %}
{{ getCsrfInput() }}

<div class="grid first" data-max-cols="3">
    <div class="item" data-position="left">
        <div id="fields" class="pane">

            {{ forms.textField({
                label: "Job Title" | t,
                id: 'title',
                name: 'title',
                class: 'nicetext',
                value: job.title,
                errors: job.getErrors('title'),
                first: true,
                required: true,
                autofocus: true,
                errors: job.getErrors('title'),
            }) }}

            {{ forms.selectField({
                label: 'Job Level'|t,
                id: 'jobLevel',
                name: 'jobLevel',
                options: {
                    "Standard" : "Standard",
                    "Entry Level" : "Entry Level",
                    "Internship" : "Internship"
                },
                value: job.jobLevel,
                required: true,
            }) }}

            {{ jobForms.locationElementSelectField({
                label: "Company" | t,
                id: 'companyId',
                name: 'companyId',
                elementType: companyElementType,
                selectionLabel: "Choose" | t,
                limit: 1,
                elements: [job.company],
                required: true,
                errors: job.getErrors('companyId'),
            }) }}

            {{ forms.lightswitchField({
                label: "Work Remotely?"|t,
                instructions: "When on, Job Location field is unavailable." | t,
                id: 'workRemotely',
                name: 'workRemotely',
                value: job.workRemotely,
                on: job.workRemotely ?: 0,
            }) }}

            {{ jobForms.locationElementSelectField({
                label: "Job Location" | t,
                id: 'locationId',
                name: 'locationId',
                elementType: locationElementType,
                selectionLabel: "Choose" | t,
                limit: 1,
                elements: [job.location],
                errors: job.getErrors('locationId'),
            }) }}

            {{ forms.textareaField({
                label: "Job Description" | t,
                id: 'description',
                name: 'description',
                value: job.description,
                rows: 20,
                required: true,
                errors: job.getErrors('description'),
            }) }}

            {{ forms.textField({
                label: "Job Application URL" | t,
                instructions: "Absolute URL (includes the protocol e.g. http:// or https://).",
                id: 'application-url',
                name: 'applicationUrl',
                class: 'nicetext',
                value: job.applicationUrl,
                required: true,
                errors: job.getErrors('applicationUrl'),
            }) }}

            {{ forms.textField({
                label: "Job ID" | t,
                id: 'jobId',
                name: 'jobId',
                class: 'nicetext',
                value: job.jobId
            }) }}

            {% set tagsField %}
                {% set tagsInputAttr = {
                id: 'jobTags',
                name: 'jobTags',
                elementType: tagElementType,
                elements: job.tags,
                tagGroupId: jobs.settings.attribute('tagGroupId'),
                sourceElementId: job.id,
                selectionLabel: 'Add a tag',
                } %}
                {% include '_components/fieldtypes/Tags/input' with tagsInputAttr only %}
            {% endset %}
            {{ forms.field({
                label: "Job Tags"|t,
            }, tagsField) }}

            {{ forms.elementSelectField({
                label: "Design Zones Category" | t,
                id: 'designZonesId',
                name: 'designZonesId',
                elementType: designZonesElementType,
                selectionLabel: "Choose" | t,
                limit: 1,
                elements: [job.designZones]
            }) }}

            {{ forms.elementSelectField({
                label: "Silicon Expert Category" | t,
                id: 'siliconExpertId',
                name: 'siliconExpertId',
                elementType: siliconExpertElementType,
                selectionLabel: "Choose" | t,
                limit: 1,
                elements: [job.siliconExpert]
            }) }}
        </div>
    </div>
    <div class="item" data-position="right">
        {#{% if showPreviewBtn %}#}
            {#{% include "_includes/previewbtns" %}#}
        {#{% endif %}#}

        <div class="pane meta">
            {{ forms.textField({
                label: "Slug" | t,
                id: 'slug',
                name: 'slug',
                value: job.slug,
                placeholder: "Enter slug"|t,
                errors: job.getErrors('slug'),
            }) }}

            {{ forms.elementSelectField({
                label: "Author" | t,
                id: 'authorId',
                name: 'authorId',
                elementType: userElementType,
                selectionLabel: "Choose" | t,
                limit: 1,
                elements: [job.author]
            }) }}

            {{ forms.dateTimeField({
                label: "Post Date"|t,
                id: 'postDate',
                name: 'postDate',
                value: (job.postDate ? job.postDate : postDate),
                errors: job.getErrors('postDate'),
            }) }}

            {{ forms.dateTimeField({
                label: "Expiry Date"|t,
                id: 'expiryDate',
                name: 'expiryDate',
                value: (job.expiryDate ? job.expiryDate : expiryDate),
                errors: job.getErrors('expiryDate'),
            }) }}

            {% set statusInput %}
                <div class="left">
                {{ forms.lightswitch({
                    id: 'enabled',
                    name: 'enabled',
                    on: job.enabled,
                    value: job.enabled
                }) }}
                </div>

                {% if job.id %}
                <div class="right">
                    <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="ACJobs/delete"
                           data-confirm="{{ 'Are you sure you want to delete this job entry?'|t }}"
                           data-redirect="eewebextras/acjobs">
                </div>
                {% endif %}
            {% endset %}

            {{ forms.field({
                label: "Enabled"|t,
                id: 'enabled'
            }, statusInput) }}
        </div>

        {% if job.id %}
        <div class="pane lightpane meta">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t }}</h5>
                <div class="value">{{ job.dateCreated.localeDate() }} {{ job.dateCreated.localeTime() }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t }}</h5>
                <div class="value">{{ job.dateUpdated.localeDate() }} {{ job.dateUpdated.localeTime() }}</div>
            </div>
        </div>

        <div class="pane lightpane meta">
            {% if job.creatorId %}
                <div class="data">
                    <h5 class="heading">{{ "Created By"|t }}</h5>
                    <div class="value">
                        <a target="_blank" href="{{ url('users/'~job.creatorId ) }}">{{ creator }}</a>
                    </div>
                </div>
            {% endif %}

            {% if job.updaterId %}
                <div class="data">
                    <h5 class="heading">{{ "Updated By"|t }}</h5>
                    <div class="value">
                        <a target="_blank" href="{{ url('users/'~job.updaterId ) }}">{{ updater }}</a>
                    </div>
                </div>
            {% endif %}
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}

{% includejs %}
new Craft.ACJobsEdit();

{% endincludejs %}

{% if not job.slug %}
    {% includejs "window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');" %}
{% endif %}