{% extends '_layouts/cp' %}

{% set title = 'Jobs'|t %}

{% set pluginName = craft.eewebextras.acjobs.pluginName %}

{% set crumbs = [
{ label: pluginName, url: url('acjobs') },
{ label: "Dependencies" | t, url: '#' },
] %}

{% block content %}
    {% if noLocations %}
        <p>This plugin requires <strong>ACLocations plugin</strong> installed and enabled. Please go to <a href="{{ url('settings/plugins') }}">Plugin settings</a> and install it.</p>
    {% endif %}

    {% if noAPIKey %}
        <strong>Google Maps API Key</strong> is not yet set. Please go to <a href="{{ url('eewebextras/aclocations/settings') }}">{{ craft.eewebextras.aclocations.pluginName }} Settings</a> to continue.
    {% endif %}

    {% if noDesignZonesGroup or noSiliconExpertGroup %}
        <p><strong>Design Zones</strong> and <strong>Silicon Expert</strong> category groups must be defined. Please update <a href="{{ url('eewebextras/acjobs/settings') }}">{{ pluginName }} settings</a> to continue.</p>
    {% endif %}

{% endblock %}