{% extends '_layouts/elementindex' %}

{% set pluginName = 'Jobs' %}
{% set title = "EEWeb " ~ pluginName | t %}
{% set elementType = 'craft\\acjobs\\elements\\Plugin' %}

{% set tabs = {
jobs: { label: "Jobs"|t, url: url('#') },
settings: { label: "Settings"|t, active: true, url: url('acjobs/settings') },
} %}
{% set selectedTab = 'jobs' %}

{# {% set extraPageHeaderHtml %}
    <div class="buttons right">
        <a href="{{ url('acjobs/new') }}" class="btn submit add icon">{{ "Add Job" | t }}</a>
    </div>
{% endset %} #}