{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% set jobs = craft.eewebextras.acjobs %}
{% set title = jobs.pluginName ~ " Settings" %}

{% set tabs = {
jobs: { label: "Jobs"|t, url: url('acjobs') },
settings: { label: "Settings"|t, active: true, url: url('#') },
} %}
{% set selectedTab = 'settings' %}

{% set settings = jobs.settings %}

{% set content %}
    <input type="hidden" name="action" value="eEWebExtras/savePluginSettings">
    <input type="hidden" name="redirect" value="acjobs/settings">
    <input type="hidden" name="pluginClass" value="acjobs">
    {{ getCsrfInput() }}

    {{ forms.textField({
        label: "Plugin Name"|t,
        instructions: "The plugin name as you'd like it to be displayed in the Admin CP sidebar menu."|t,
        id: 'customPluginName',
        name: 'settings[customPluginName]',
        value: settings.customPluginName,
        first: true,
        placeholder: 'Jobs',
    }) }}

    {{ forms.selectField({
        label: 'Default Expiry Time'|t,
        instructions: "The number of months until a job entry expires."|t,
        id: 'defaultExpiryTime',
        name: 'settings[defaultExpiryTime]',
        value: settings.defaultExpiryTime ?: "6",
        options: {
            "1" : "1",
            "3" : "3",
            "6" : "6",
            "9" : "9",
            "12" : "12",
        }
    }) }}

    <hr />

    {% set groups = jobs.categoryGroups %}
    {% if groups|length %}
        {% set designZonesField %}
            {{ forms.selectField({
                id: 'designZonesGroupId',
                name: 'settings[designZonesGroupId]',
                value: settings.designZonesGroupId,
                options: groups,
            }) }}
        {% endset %}

        {% set siliconExpertField %}
            {{ forms.selectField({
                id: 'siliconExpertGroupId',
                name: 'settings[siliconExpertGroupId]',
                value: settings.siliconExpertGroupId,
                options: groups,
            }) }}
        {% endset %}
    {% else %}
        {% set siliconExpertField %}
            <p>
                No category group exists. <a href="{{ url('settings/categories/new') }}">Create a group</a>.
            </p>
        {% endset %}
    {% endif %}

    {{ forms.field({
        id: 'designZonesGroupId',
        label: "Design Zones Group"|t,
        instructions: "Choose the Design Zones category group."|t,
    }, designZonesField) }}


    {{ forms.field({
        id: 'siliconExpertGroupId',
        label: "Silicon Expert Group"|t,
        instructions: "Choose the Silicon Expert category group."|t,
    }, siliconExpertField) }}

    <hr />

    {{ forms.textField({
        label: "Jobs Site Route"|t,
        instructions: "Slug segment to the jobs page."|t,
        id: 'siteRoutePrefix',
        name: 'settings[siteRoutePrefix]',
        value: settings.siteRoutePrefix,
        placeholder: 'jobs',
    }) }}

    {{ forms.textField({
        label: "Jobs Site Template"|t,
        instructions: "The template to use for the jobs pages."|t,
        id: 'siteTemplate',
        name: 'settings[siteTemplate]',
        value: settings.siteTemplate,
        placeholder: '/themes/default/community/jobs',
    }) }}

{% endset %}
