#content .tab-content:not(.first) {
  display: none; }

#main-content #tabs ul li:not(:first-child) {
  display: none; }

.content .tab-content .fields .field {
  margin: 24px 0 0; }

.content .tab-content .fields .quicklinks-container {
  margin: 10px 0 0; }

.content .tab-content .settings-tabs {
  position: relative;
  background: none;
  margin: 0 0 25px 0;
  padding: 0;
  border-bottom: 1px #EEEEEE solid;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-font-smoothing: antialiased; }
  .content .tab-content .settings-tabs ul.tabs {
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
    .content .tab-content .settings-tabs ul.tabs li {
      float: left; }
      .content .tab-content .settings-tabs ul.tabs li .tab {
        font-weight: bold;
        font-size: 11px;
        padding: 0 10px 10px 10px;
        outline: none; }
      .content .tab-content .settings-tabs ul.tabs li .selected {
        color: #288CE4;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        outline: none; }

.content .tab-content .settings-tab-content:not(.first) {
  display: none; }    

.content .tab-content .settings-tab-content .field {
  margin: 24px 0 0; }

.content .tab-content .settings-tab-content p.helper-text {
  font-size: 12px;
  color: #666666;
  line-height: 14px;
  margin: 5px 0 0;
  font-style: italic; }

.content .tab-content .btngroup {
  margin-top: 20px; }

.slots-container {
  position: relative; }
  .slots-container .q-links {
    clear: both; }
    .slots-container .q-links .q-field-inputs:not(.first) {
      margin-top: 10px; }
    .slots-container .q-links .q-field-inputs input[type="text"] {
      width: 50%;
      float: left; }
      .slots-container .q-links .q-field-inputs input[type="text"]:first-child {
        width: 48%;
        margin-right: 2%; }
    .slots-container .q-links .clear {
      clear: both; }
  .slots-container .btngroup {
    margin-top: 20px;
    float: right; }

.editable {
  margin-top: 20px; }

.link:before {
  content: 'template';
  color: rgba(0, 0, 0, 0.2); }

.generate-buttons .generate {
  margin: 12px 0 0; }

.generate-buttons .warning {
  display: none;
  margin: 4px 0 0;
  font-size: 11px; }
  .generate-buttons .warning:before {
    content: 'alert'; }

.companies-box, .spinner {
  display: none; }

.companies-box {
  margin-top: 12px; }
